body{
  margin: 0;
  padding: 0
  color: #455463;
}
header{
  color: white;
  background-color: rgba(34,44,55,0.9);
  margin: 0;
  display: flex;
}
header a{
  color: white;
}
header{
  padding: 2rem 4rem;
}
section{
  padding: 1rem 4rem;
}
h1{
  font-size: 1rem;
  margin: 0;
  flex-grow: 1;
}
h2{
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 2rem 0;
  border-bottom: solid 1px #ccc;

}
table{
  width: 100%;
  text-align: center;
}
th{
  border-bottom: solid 1px #333;
}
th, td{
  padding: .5em;
}
tr:nth-child(even){
  background-color: #f0f0f0;
}

footer{
  color: white;
  background-color: rgba(34,44,55,0.9);
  margin-top: 4rem;
  padding: 2rem 4rem;
  font-size: .8rem;
  display: flex;
}
footer h3{
  font-weight: normal;
}
footer a{
  color: white;
}
.navigation{
  padding: 0;
  margin: 0;
  list-style: none;
}
.navigation li{
  display: inline-block;
  margin: 0 .5em;
  font-size: .88rem;
}
.questions{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
}
.questions li{
  box-sizing: border-box;
  border-bottom: dotted 1px #455463;;
  margin: 0;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}
.questions h3{
  margin: 0;
  font-size: 1rem;
  flex-grow: 1;
}
.questions p{
  flex-grow: 2;
}
.control{
  flex-grow: 1;
}
.btn{
  color: #f06;
}
.btn:after{
  content: "\BB";
}

#mocha{
  position: relative;
  margin: 0;
}

#mocha .suite{
  margin: 0;
}

#mocha .test{
  margin: 0;
}

#mocha-stats{
  position: absolute;
  top: 0;
  right: 0;
}